<div class="container ">
	<a  ng-click='open()'><span class="glyphicon glyphicon-time"></span>Create Countdown</a>
<br>

<a ng-click='logIt()'>Click Me</a>

<div class="counter-holder">
	<timer autostart="false" interval="1000" countdown="counter">
		<div class="counter">
			<span class="blue">{{days}}</span> day{{daysS}}
		</div>
		<div class="counter">
			<span class="blue">{{hours}}</span> hour{{hoursS}}
		</div>
		<div class="counter">
			<span class="blue">{{minutes}}</span> minute{{minutesS}}
		</div>
		<div class="counter">
			<span class="blue">{{seconds}}</span> second{{secondsS}}
		</div>
	</timer>
</div>




</div>

<!-- <a href="#" class="myButton"><span class='glyphicon glyphicon-time'>Create Countdown</span></a> -->