<a  ng-click='open()'><span class="glyphicon glyphicon-time"></span>Create Countdown</a>
<div class="container ">
<div class="counter-holder" >
	<timer autostart="false" interval="1000" ng-repeat='timer in timers' countdown="timer.counter">
	<h2>
		{{timer.label}}
	</h2>
		<div class="counter">
			<span class="blue">{{hours}}</span> hour{{hoursS}}
		</div>
		<div class="counter">
			<span class="blue">{{minutes}}</span> minute{{minutesS}}
		</div>
		<div class="counter">
			<span class="blue">{{seconds}}</span> second{{secondsS}}
		</div>
	<div>
	<a ng-click="timerStart()">Start the timer</a>
	</div>
	<div>
	<a ng-click="timerPause()">Pause the timer</a>
	</div>
	</timer>

</div>

</div>

<!-- <a href="#" class="myButton"><span class='glyphicon glyphicon-time'>Create Countdown</span></a> -->