<div class="ce-countdown ce-countdown--theme-9">
    <div class="ce-circle">
        <canvas id="ce-hours" width="408" height="408"></canvas>
        <div class="ce-circle__values">
            <span class="ce-digit ce-hours"></span>
            <span class="ce-label ce-hours-label"></span>
        </div>
    </div>
    <div class="ce-circle">
        <canvas id="ce-minutes" width="408" height="408"></canvas>
        <div class="ce-circle__values">
            <span class="ce-digit ce-minutes"></span>
            <span class="ce-label ce-minutes-label"></span>
        </div>
    </div>
    <div class="ce-circle">
        <canvas id="ce-seconds" width="408" height="408"></canvas>
        <div class="ce-circle__values">
            <span class="ce-digit ce-seconds"></span>
            <span class="ce-label ce-seconds-label"></span>
        </div>
    </div>
</div>